<div class="eqLogic-widget" style="width: 180px;background-color: #background_color#">
    <center><strong><a href="#eqLink#" style="font-size : 1.3em;"> #name#  </a></strong></center><br/>
    		<div class="row">
        		<div class="col-md-2 col-md-offset-3"><p style="font-size: 1.2em;text-align: center;font-weight:bold;"><i class="jeedom-thermo-moyen"></i></p></div><div class="col-md-7"><p class="pull-left" style="font-size: 1.2em;font-weight:bold;">&nbsp;#temperature# °C</p></div>
			</div><div class="row">
    			<div class="col-md-2 col-md-offset-3"><p style="font-size: 1.2em;text-align: center;font-weight:bold;"><i class="fa fa-tint"></i></p></div><div class="col-md-7"><p class="pull-left" style="font-size: 1.2em;font-weight:bold;">&nbsp;#humidity# %</p></div>
     		</div><div class="row">
    			<div class="col-md-2 col-md-offset-3"><p style="font-size: 1.2em;text-align: center;font-weight:bold;"><i class="fa fa-car"></i></p></div><div class="col-md-7"><p class="pull-left" style="font-size: 1.2em;font-weight:bold;">&nbsp;#CO2# ppm</p></div>
     		</div>
</div>