<div class="eqLogic eqLogic-widget" style="width: 180px;background-color: #background_color#;#style#" data-eqLogic_id="#id#" data-version="dashboard">
    <center class="widget-name"><strong><a href="#eqLink#" style="font-size : 1.3em;"> #name#  </a></strong></center>
			<div class="row">
    			<div class="col-md-2 col-md-offset-2"><p style="font-size: 1.2em;text-align: center;font-weight:bold;"><i class="fa fa-tint"></i></p></div><div class="col-md-8"><p class="pull-left" style="font-size: 1.2em;font-weight:bold;"><span class="history cursor cmd tooltips cmd cmd-widget noRefresh" data-type="info" data-subtype="numeric" data-cmd_id="#rain_id#">&nbsp;#rain# mm/live</span></p></div>
     		</div><div class="row">
    			<div class="col-md-2 col-md-offset-2"><p style="font-size: 1.2em;text-align: center;font-weight:bold;"><i class="fa fa-tint"></i></p></div><div class="col-md-8"><p class="pull-left" style="font-size: 1.2em;font-weight:bold;">&nbsp;#sum_rain_1# mm/1h</p></div>
     		</div><div class="row">
    			<div class="col-md-2 col-md-offset-2"><p style="font-size: 1.2em;text-align: center;font-weight:bold;"><i class="fa fa-tint"></i></p></div><div class="col-md-8"><p class="pull-left" style="font-size: 1.2em;font-weight:bold;">&nbsp;#sum_rain_24# mm/24h</p></div>
     		</div>
</div>