<div class="eqLogic-widget" style="width: 150px;background-color: #background_color#;#style#">
    <center class="widget-name"><strong><a href="#eqLink#" style="font-size : 1.1em;"> #name#  </a></strong></center><br/>
    		<div class="row">
        		<div class="col-md-2 col-md-offset-3"><p><i class="jeedom-thermo-moyen"></i></p></div><div class="col-md-7"><p class="pull-left">#temperature# °C</p></div>
    			<div class="col-md-2 col-md-offset-3"><p><i class="fa fa-tint"></i></p></div><div class="col-md-7"><p class="pull-left">#humidity# %</p></div>
     		</div>
</div>
