<div class="eqLogic-widget" style="width: 220px;background-color: #background_color#;#style#" data-eqLogic_id="#id#" data-version="dashboard">
    <center class="widget-name"><strong><a href="#eqLink#" style="font-size : 1.3em;"> #name#  </a></strong></center>
    		<div class="row">
        		<div class="col-md-1 col-md-offset-1"><p style="font-size: 1em;text-align: center;font-weight:bold;"><i class="jeedom-thermo-moyen"></i></p></div><div class="col-md-4"><p class="pull-left" style="font-size: 1em;font-weight:bold;"><span class="history cursor cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#temp_id#">#temperature# °C</span></p></div><div class="col-md-1"><p style="font-size: 1em;text-align: center;font-weight:bold;"><i class="fa fa-tint"></i></p></div><div class="col-md-4"><p class="pull-left" style="font-size: 1em;font-weight:bold;"><span class="history cursor cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#humidity_id#">#humidity# %</span></p></div>
			</div>
</div>
