<div class="eqLogic eqLogic-widget" style="min-width:160px;background-color: #background_color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard">
	<span class="statusCmd" style="position : absolute;left : 5px; width : 30px;z-index: 1030;"></span>
	<i class='fa fa-refresh pull-right cursor refresh' style="margin-top: 3px;margin-right: 3px;"></i>
	<span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>
	<center class="widget-name"><a href="#eqLink#" style="font-size : 1.3em;"> #name#  </a></center>
	<div class="row">

	<div class="col-sm-12">
	<center>
	 <span class="pull-left #rain_history# rain tooltips" data-cmd_id="#rain_id#" title="Pluie (#rain_collectDate#)" style="margin-left: 3px ;"><i class="fa fa-tint"></i> <strong style="font-size:1em;">#rain#</strong> mm/h</span>
	<span style="margin-right: 3px" class="pull-right #sum_rain_1_history# sum_rain_1 tooltips" data-cmd_id="#sum_rain_1_id#" title="Pluie dans l'heure (#sum_rain_1_collectDate#)"><i class="icon divers-circular114"></i> <strong style="font-size:1em;">#sum_rain_1#</strong> mm/h</span>
   </center>
	</div>
	</div>
	<center>
       <span class="#sum_rain_24_history# sum_rain_24 tooltips" data-cmd_id="#sum_rain_24_id#" title="Pluie du jour (#sum_rain_24_collectDate#)" style="font-size : 1.2em;"><i class="icon divers-table29"></i> <strong style="font-size:1.2em;">#sum_rain_24#</strong> mm/h</span>
    </center>
	<script type="text/javascript">
		$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
			jeedom.cmd.execute({id: '#refresh_id#'});
		});
	</script>
</div>
