<div class="eqLogic-widget" style="width: 180px;background-color: #background_color#;#style#" data-eqLogic_id="#id#" data-version="dashboard">
    <center class="widget-name"><strong><a href="#eqLink#" style="font-size : 1.3em;"> #name#  </a></strong></center><br/>
    		<div class="row">
        		<div class="col-md-2 col-md-offset-3"><p style="font-size: 1.2em;text-align: center;font-weight:bold;"><i class="jeedom-thermo-moyen"></i></p></div><div class="col-md-7"><p class="pull-left" style="font-size: 1.2em;font-weight:bold;"><span class="history cursor cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#temp_id#">&nbsp;#temperature# °C</span></p></div>
			</div><div class="row">
    			<div class="col-md-2 col-md-offset-3"><p style="font-size: 1.2em;text-align: center;font-weight:bold;"><i class="fa fa-tint"></i></p></div><div class="col-md-7"><p class="pull-left" style="font-size: 1.2em;font-weight:bold;"><span class="history cursor cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#humidity_id#">&nbsp;#humidity# %</span></p></div>
     		</div><div class="row">
    			<div class="col-md-2 col-md-offset-3"><p style="font-size: 1.2em;text-align: center;font-weight:bold;"><i class="fa fa-car"></i></p></div><div class="col-md-7"><p class="pull-left" style="font-size: 1.2em;font-weight:bold;"><span class="history cursor cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#CO2_id#">&nbsp;#CO2# ppm</span></p></div>
     		</div>
</div>