<div class="eqLogic eqLogic-widget" style="width: 180px;height:200px;background-color: #background_color#;#style#" data-eqLogic_id="#id#" data-version="dashboard">
    <center class="widget-name"><strong><a href="#eqLink#" style="font-size : 1.3em;"> #name#  </a></strong></center>
    <div style="position:relative;">
        <center>
                <div style="position:absolute;width: 100%;z-index:1;"><img src="plugins/netatmoWeather/core/template/dashboard/files/NetAtmo_module_int.png" width="180px"></div>
        </center>
        <left>
            <div style="position:absolute;width: 100%;z-index:2;font-family:stateFont;font-size:1.2em;top: 30px;left:85px">
                <span class="history cursor cmd tooltips cmd cmd-widget noRefresh" data-type="info" data-subtype="numeric" data-cmd_id="#temperature_id#">#temperature# °C</span>
            </div>
            <div style="position:absolute;width: 100%;z-index:2;font-family:stateFont;font-size:1.2em;top: 69px;left:85px">
                <span class="history cursor cmd tooltips cmd cmd-widget noRefresh" data-type="info" data-subtype="numeric" data-cmd_id="#humidity_id#">#humidity# %</span>
            </div>
            <div style="position:absolute;width: 100%;z-index:2;font-family:stateFont;font-size:1.2em;top: 105px;left:85px">
                <span class="history cursor cmd tooltips cmd cmd-widget noRefresh" data-type="info" data-subtype="numeric" data-cmd_id="#CO2_id#">#co2# ppm</span>
            </div>
        </left>
    </div>
<style>
    @font-face {
    font-family: stateFont;
    src:url("plugins/netatmoWeather/core/template/dashboard/files/appleberry.eot?") format("eot"),
        url("plugins/netatmoWeather/core/template/dashboard/files/appleberry.woff") format("woff"),
        url("plugins/netatmoWeather/core/template/dashboard/files/appleberry.ttf") format("truetype"),
        url("plugins/netatmoWeather/core/template/dashboard/files/appleberry.svg#appleberry") format("svg");
    font-weight:normal;font-style:normal;
    }
</style>
</div>
