<div class="eqLogic eqLogic-widget" style="min-width:160px;background-color: #background_color#;#style#" data-eqLogic_id="#id#" data-version="mobile">
	<span class="statusCmd" style="position : absolute;left : 5px; width : 30px;z-index: 1030;"></span>
	<i class='fa fa-refresh pull-right cursor refresh' style="margin-top: 3px;margin-right: 3px;"></i>
	<span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>
	<center class="widget-name" style="font-size : 1.5em;">#name#</center>
	<center>
		<span class="temperature" data-cmd_id="#temperature_id#"><i class="jeedom-thermo-moyen"></i> <strong style="font-size:1.1em;">#temperature#</strong> °C</span><br/>
		<span class="humidity" data-cmd_id="#humidity_id#"><i class="fa fa-tint"></i> <strong style="font-size:1.1em;">#humidity#</strong> %</span><br/>
		<span class="co2" data-cmd_id="#co2_id#"><i class="fa fa-car"></i> <strong style="font-size:1.1em;">#co2#</strong> ppm</span><br/>
	</center>
	<script type="text/javascript">
		$('.eqLogic[data-eqLogic_id=#id#] .refresh').on('click', function () {
			jeedom.cmd.execute({id: '#refresh_id#'});
		});
		if (isNaN(parseInt('#temperature#'))) {
			$('.eqLogic[data-eqLogic_id=#id#] .temperature').remove();
		}
		if (isNaN(parseInt('#humidity#'))) {
			$('.eqLogic[data-eqLogic_id=#id#] .humidity').remove();
		}
		if (isNaN(parseInt('#co2#'))) {
			$('.eqLogic[data-eqLogic_id=#id#] .co2').remove();
		}
	</script>
</div>
